<p>Thank you for signing up with JobFinder. We're excited to have you on board.</p>
<p>Please confirm your email address by clicking the link below:</p>
<p>If you did not sign up for JobFinder, please ignore this email.</p>
<p>Best regards,</p>
<p>The JobFinder Team</p>